In [2]:
import pandas as pd

In [3]:
bbb_df = pd.read_csv('data/Ball_By_Ball.csv')

In [4]:
player_df = pd.read_csv('data/Player.csv')

In [5]:
match_df = pd.read_csv('data/Match.csv')

In [6]:
playermatch_df = pd.read_csv('data/Player_match.csv')

In [7]:
team_df = pd.read_csv('data/Team.csv')

In [8]:
player_df.head(5)

,PLAYER_SK,Player_Id,Player_Name,DOB,Batting_hand,Bowling_skill,Country_Name
0,0,1,SC Ganguly,7/8/1972,Left-hand bat,Right-arm medium,India
1,1,2,BB McCullum,9/27/1981,Right-hand bat,Right-arm medium,New Zealand
2,2,3,RT Ponting,12/19/1974,Right-hand bat,Right-arm medium,Australia
3,3,4,DJ Hussey,7/15/1977,Right-hand bat,Right-arm offbreak,Australia
4,4,5,Mohammad Hafeez,10/17/1980,Right-hand bat,Right-arm offbreak,Pakistan

In [ ]:
abbb

In [9]:
bbb_df.head(5)

,MatcH_id,Over_id,Ball_id,Innings_No,Team_Batting,Team_Bowling,Striker_Batting_Position,Extra_Type,Runs_Scored,Extra_runs,...,Fielder_match_SK,Fielder_SK,Bowler_match_SK,BOWLER_SK,PlayerOut_match_SK,BattingTeam_SK,BowlingTeam_SK,Keeper_Catch,Player_out_sk,MatchDateSK
0,598028,15,6,1,5,2,6.0,No Extras,4,0,...,-1,-1,20343,82,-1,4,1,0,0,20130420
1,598028,14,1,1,5,2,5.0,No Extras,1,0,...,-1,-1,20348,345,-1,4,1,0,0,20130420
2,598028,14,2,1,5,2,3.0,No Extras,1,0,...,-1,-1,20348,345,-1,4,1,0,0,20130420
3,598028,14,3,1,5,2,5.0,No Extras,1,0,...,-1,-1,20348,345,-1,4,1,0,0,20130420
4,598028,14,4,1,5,2,3.0,No Extras,0,0,...,-1,-1,20348,345,-1,4,1,0,0,20130420

In [10]:
team_df.head(5)

   Team_SK  Team_Id                    Team_Name
0        0        1        Kolkata Knight Riders
1        1        2  Royal Challengers Bangalore
2        2        3          Chennai Super Kings
3        3        4              Kings XI Punjab
4        4        5             Rajasthan Royals

In [13]:
a = [1, 4, 4, 6]

In [14]:
a.count(4)

2

In [88]:
def sixes(x):
    return sum(x == 6)
def fours(x):
    return sum(x == 4)
def run_rate(x):
    return (float(sum(x))/len(x))*100
def total_runs(x):
    return sum(x)

In [140]:
batting = bbb_df.groupby(['MatcH_id', 'Striker', 'Team_Bowling', 'Team_Batting']).agg({'Runs_Scored': [total_runs, sixes, fours, run_rate],
                                            }).reset_index()

batting.columns = batting.columns.map('{0[0]}|{0[1]}'.format) 
batting= batting.rename(columns={'MatcH_id|': 'match_id', 'Striker|': 'player_id', 'Team_Batting|': 'team_batting_id', 'Team_Bowling|': 'team_bowling_id',
                       'Runs_Scored|total_runs': 'total_runs', 'Runs_Scored|sixes': 'sixes', 'Runs_Scored|fours': 'fours', 'Runs_Scored|run_rate': 'run_rate', 
                                'Team_Bowling|': 'team_id_against', 'Team_Batting|': 'team_id'})
batting.head(5)

,match_id,player_id,team_id_against,team_id,total_runs,sixes,fours,run_rate
0,335987,1,2,1,10,0,2,83.333333
1,335987,2,2,1,158,13,10,205.194805
2,335987,3,2,1,20,1,1,100.000000
3,335987,4,2,1,12,0,1,100.000000
4,335987,5,2,1,5,0,1,166.666667

In [139]:
match_df.head(5)

,Match_SK,match_id,Team1,Team2,match_date,Season_Year,Venue_Name,City_Name,Country_Name,Toss_Winner,match_winner,Toss_Name,Win_Type,Outcome_Type,ManOfMach,Win_Margin,Country_id
0,0,335987,Royal Challengers Bangalore,Kolkata Knight Riders,4/18/2008,2008,M Chinnaswamy Stadium,Bangalore,India,Royal Challengers Bangalore,Kolkata Knight Riders,field,runs,Result,BB McCullum,140.0,1
1,1,335988,Kings XI Punjab,Chennai Super Kings,4/19/2008,2008,"Punjab Cricket Association Stadium, Mohali",Chandigarh,India,Chennai Super Kings,Chennai Super Kings,bat,runs,Result,MEK Hussey,33.0,1
2,2,335989,Delhi Daredevils,Rajasthan Royals,4/19/2008,2008,Feroz Shah Kotla,Delhi,India,Rajasthan Royals,Delhi Daredevils,bat,wickets,Result,MF Maharoof,9.0,1
3,3,335990,Mumbai Indians,Royal Challengers Bangalore,4/20/2008,2008,Wankhede Stadium,Mumbai,India,Mumbai Indians,Royal Challengers Bangalore,bat,wickets,Result,MV Boucher,5.0,1
4,4,335991,Kolkata Knight Riders,Deccan Chargers,4/20/2008,2008,Eden Gardens,Kolkata,India,Deccan Chargers,Kolkata Knight Riders,bat,wickets,Result,DJ Hussey,5.0,1

In [ ]:
import req

In [121]:
# batting

In [125]:
def outs(x):
    return sum(x != 'Not Applicable')
def economy_rate(x):
    return sum(x)
def maiden_over(x):
    return 1 if sum(x) == 0 else 0

In [133]:
import numpy as np

In [141]:

bowling_overwise = bbb_df.groupby(['MatcH_id', 'Bowler', 'Over_id', 'Team_Bowling', 'Team_Batting']).agg({'Out_type': outs, 'Runs_Scored': [maiden_over, economy_rate],
                                            }).reset_index()

bowling_overwise.columns = bowling_overwise.columns.map('{0[0]}|{0[1]}'.format) 
bowling = bowling_overwise.groupby(['MatcH_id|', 'Bowler|', 'Team_Bowling|', 'Team_Batting|']).agg({'Out_type|outs': sum, 'Runs_Scored|maiden_over': sum, 'Runs_Scored|economy_rate': np.mean}).reset_index()
bowling = bowling.rename(columns={'MatcH_id|': 'match_id',	'Bowler|': 'player_id',	'Out_type|outs': 'outs', 'Runs_Scored|maiden_over': 'maiden_overs',
                                  'Runs_Scored|economy_rate': 'economy_rate', 'Team_Bowling|': 'team_id', 'Team_Batting|': 'team_id_against'})
bowling.head(5)

,match_id,player_id,team_id,team_id_against,economy_rate,maiden_overs,outs
0,335987,1,1,2,5.00,0,3
1,335987,9,2,1,11.75,0,1
2,335987,10,2,1,22.00,0,0
3,335987,13,2,1,8.75,0,1
4,335987,14,2,1,9.25,1,0

In [137]:
batting.match_id.nunique()

636

### Batsman features

In [ ]:
'player', 'runs', '4s', '6s', 'strike_rate', 'opposition', 'ground', 'opposition_players_list'

### Bowler features

In [ ]:
'player', 'wickets', 'economy_rate', 'n_maiden_overs', 'opposition', 'ground', 'opposition_players_list'

In [ ]:
BATTING
=======
per run +0.5
per 4 +0.5
per 6 +1
50 +4
100 +8
0 -2
SR=60-70 -1
SR=50-60 -2
SR=<50 -3

BOWLING
=======
per wicket +10
4 wickets +4
5 wickets +4
maiden over +4
economy rate (runs/overs) <4 +3
economy rate (runs/overs) 4-5 +2
economy rate (runs/overs) 5-6 +1
economy rate (runs/overs) 9-10 -1
economy rate (runs/overs) 10-11 -2
economy rate (runs/overs) >11 -3

FIELDING
========
catch +4
stump/run out +6
runout thrower +4
runout catcher +2